@import 'bootstrap';


html, body {
  height: 100%;
}

body {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  padding-top: 51px;
  font-size: 16px;
}

.custom-label {
  font-size: 1.4em;
}


.time-options-field {
  table {
    th {
      text-align: center;
    }
    td {
      border-left: 1px solid #c2c2c2;
      text-align: center;
      .check {
        &:before {
          content: '\2713';
        }
      }
    }
  }
}

.field_with_errors {
  @extend .has-error;
}

.demand {
  text-align: center;
  .author-panel {
    background: image-url('backgrounds/school.png');
    border-top: solid #e3e3e3 1.2px;
    border-bottom: solid #e3e3e3 1.2px;
    padding: 20px 0 20px 0;

    .demand-lang {
      text-align: center;
      .lang-name {
        display: block;
        color: gray;
        margin-top: -15px;
        font-size: 14px;
      }
    }
  }
}

.footer {
  height: 100px;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
}


// @media (min-width: 1000px) {
//   .container .yeah {
//     max-width: 500px;
//   }
// }